* {
  font-family: 'europa', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased; /*(For Chrome and Safari)*/
}
