* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: Product Sans;
}
body {
  background: #080808;
  width: 100%;
}
body .juandis {
  width: 100%;
}
body .juandis .prlx {
  display: flex;
  margin: 0 auto;
  width: 100% !important;
  justify-content: center;
  align-items: center;
}
body .juandis .toUp {
  margin-top: -200px !important;
}
body .juandis .initialSection {
  display: flex;
  flex-direction: row;
  width: 90%;
}
body .juandis .initialSection .titleLanding {
  width: 50%;
}
body .juandis .initialSection .titleLanding h1 {
  color: #fff;
  font-size: 50px;
}
body .juandis .initialSection .mockupsBanner {
  width: 50%;
}
body .juandis .initialSection .mockupsBanner .img1 {
  top: 50vh;
  left: 80%;
}
body .juandis .initialSection .mockupsBanner .img1 img {
  width: 150px;
  transform: rotate(-30deg);
}
body .juandis .initialSection .mockupsBanner .img2 {
  top: 30vh;
  left: 60%;
}
body .juandis .initialSection .mockupsBanner .img2 img {
  width: 240px;
  transform: scale(1.5) rotate(-30deg);
}
body .juandis .initialSection .mockupsBanner .img3 {
  top: 80vh;
  left: 60%;
}
body .juandis .initialSection .mockupsBanner .img3 img {
  width: 300px;
  transform: scale(1.2) rotate(-30deg);
}
body .juandis .photosSection {
  width: 100%;
  display: flex;
  height: 500px;
}
body .juandis .photosSection .titleLanding {
  box-shadow: 0px 0px 50px #000000;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
body .juandis .photosSection .titleLanding .footerBanner {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -50px;
}
body .juandis .photosSection .titleLanding h3 {
  color: #fff;
  font-size: 40px;
  font-weight: bolder;
  width: 50%;
  margin-left: 50px;
}
body .juandis .photosSection .titleLanding img.logo-big {
  height: 100px;
  margin-right: 50px;
}
body .juandis .meSection {
  width: 100%;
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}
body .juandis .meSection .titleLanding {
  width: 50%;
  margin: 0 auto;
  background: #080808;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body .juandis .meSection .titleLanding .meImg {
  display: block;
  height: 500px;
  width: 50%;
  mix-blend-mode: lighten !important;
}
body .juandis .meSection .textMe {
  width: 50%;
}
body .juandis .meSection .textMe p {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  width: 50%;
}
body .juandis .projects .carousel {
  margin: 0 auto;
  width: 100% !important;
}
body .juandis .projects .carousel .slide {
  min-width: 80% !important;
  margin: 0 10% !important;
  background: transparent !important;
}
body .juandis .projects .carousel .control-arrow {
  top: 44%;
  color: #000;
  font-size: 30px;
  bottom: 0;
  margin: 0 30px;
  padding: 0;
  height: 50px !important;
  background: #fff;
  border-radius: 50%;
  width: 50px !important;
  opacity: 1 !important;
}
body .juandis .projects .carousel .control-arrow:hover {
  opacity: 0.5;
  transition: all ease 0.3s;
}
body .juandis .projects .carousel .control-prev.control-arrow:before {
  border-right: 8px solid #000 !important;
}
body .juandis .projects .carousel .control-next.control-arrow:before {
  border-left: 8px solid #000 !important;
}
body .juandis .projects .carousel .control-arrow:before,
body .juandis .projects .carousel .carousel.carousel-slider .control-arrow:before {
  margin: 3px 5px !important;
}
body .juandis .projects .contentProject {
  background: #fff;
  padding: 70px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
body .juandis .projects .contentProject .infoProject {
  text-align: left;
  width: 50%;
}
body .juandis .projects .contentProject .infoProject h4 {
  font-size: 50px;
  text-transform: lowercase;
  margin-bottom: 30px;
}
body .juandis .projects .contentProject .infoProject p {
  opacity: 0.7;
  font-size: 20px;
  line-height: 28px;
}
body .juandis .projects .contentProject .infoProject p.rolesPr {
  margin: 30px 0;
}
body .juandis .projects .contentProject .infoProject p.titlePr {
  opacity: 1 !important;
  font-size: 30px;
  margin-bottom: 30px;
}
body .juandis .projects .contentProject .imageContentProject {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  width: 50%;
}
body .juandis .projects .contentProject .imageContentProject img {
  position: absolute;
  width: 60% !important;
  right: -50px;
  margin-top: -50px;
}
