* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: Product Sans;
}
body {
  background: #080808;
  width: 100%;
}
body .juandis {
  width: 100%;
}
body .juandis .prlx {
  display: flex;
  margin: 0 auto;
  width: 100% !important;
  justify-content: center;
  align-items: center;
}
body .juandis .initialSection {
  display: flex;
  flex-direction: row;
  width: 90%;
}
body .juandis .initialSection .titleLanding {
  width: 50%;
}
body .juandis .initialSection .titleLanding h1 {
  color: #fff;
  font-size: 50px;
}
body .juandis .initialSection .mockupsBanner {
  width: 50%;
}
body .juandis .initialSection .mockupsBanner .img1 {
  top: 50vh;
  left: 80%;
}
body .juandis .initialSection .mockupsBanner .img1 img {
  width: 150px;
  transform: rotate(-30deg);
}
body .juandis .initialSection .mockupsBanner .img2 {
  top: 30vh;
  left: 60%;
}
body .juandis .initialSection .mockupsBanner .img2 img {
  width: 240px;
  transform: scale(1.5) rotate(-30deg);
}
body .juandis .initialSection .mockupsBanner .img3 {
  top: 80vh;
  left: 60%;
}
body .juandis .initialSection .mockupsBanner .img3 img {
  width: 300px;
  transform: scale(1.2) rotate(-30deg);
}
body .juandis .photosSection {
  width: 100%;
  display: flex;
  height: 500px;
}
body .juandis .photosSection .titleLanding {
  box-shadow: 0px 0px 50px #000000;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
body .juandis .photosSection .titleLanding .footerBanner {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -50px;
}
body .juandis .photosSection .titleLanding h3 {
  color: #fff;
  font-size: 40px;
  font-weight: bolder;
  width: 50%;
  margin-left: 50px;
}
body .juandis .photosSection .titleLanding img.logo-big {
  height: 100px;
  margin-right: 50px;
}
